*.o
airspy_wsprd
airspyhf-wsprd
wsprd-core
airspyhf-wsprd-core
wspr_wisdom.dat
hashtable.txt
tests/test_decimator
tests/test_decoder_bridge
tests/test_bands
tests/test_reporter
tests/test_sample_queue
tests/test_station
tests/test_band_advisor
tests/test_ft8_decoder
tests/test_ft8_resampler
tests/test_health_server
tests/test_psk_reporter
ALL_WSPR.TXT
wspr_spots.txt
wspr_timer.out
test-hw/build/
test-hw/firmware/build/
test-hw/__pycache__/
